<div class="search-receipes">
  <form class="search-receipes__filters"  [formGroup]="receipesForm">
    <h1>Filtros</h1>
    <div class="search-receipes__filters__inputs">
      <mat-label>Nombre</mat-label>
      <input class="search-receipes__filters__input" matInput
        placeholder="Ej: Arroz" formControlName="nombre">
    </div>
    <div class="search-receipes__filters__inputs">
      <mat-label>Duracion</mat-label>
      <input class="search-receipes__filters__input" matInput
        placeholder="Ej: 30m" formControlName="duracion">
    </div>
    <div class="search-receipes__filters__inputs">
      <mat-label>Comensales</mat-label>
      <input class="search-receipes__filters__input" matInput type="number"
        placeholder="Ej: 4 comensales" formControlName="comensales">
    </div>
    <div class="search-receipes__filters__inputs">
      <mat-label>Ingredientes</mat-label>
      <input class="search-receipes__filters__input" matInput
        placeholder="Ej: Pollo" formControlName="ingredientes">
    </div>
    <div class="search-receipes__filters__inputs">
      <mat-label>Tipo</mat-label>
      <input class="search-receipes__filters__input" matInput
        placeholder="Ej: Plato principal" formControlName="tipo">
    </div>
    <div class="search-receipes__filters__inputs">
      <mat-label>Dificultad</mat-label>
      <input class="search-receipes__filters__input" matInput
        placeholder="Ej: Dificultad baja" formControlName="dificultad">
    </div>
    <button mat-raised-button (click)="searchByFilter()">Buscar</button>
  </form>
  <div id="divResults" class="search-receipes__results" >
    <h1>Recetas</h1>
    <div *ngFor="let receipe of receipesResult">
      <mat-card class="search-receipes__results__card">
        <mat-card-header class="search-receipes__results__header" (click)="openDetails(receipe)">
            <h3 class="search-receipes__results__title">{{receipe.nombre}}</h3>
            <span>{{receipe.duracion + '  -  ' + receipe.comensales}}</span>
        </mat-card-header>
      </mat-card>
    </div>
    <button *ngIf="receipesResult.length>0" mat-raised-button [disabled]="!existMore" (click)="loadReceipes()">Mostras más</button>
  </div>
  <div *ngIf="selectedReceipe" class="search-receipes__details">
    <div class="search-receipes__close">
      <mat-icon (click)="onClose()">cancel_outline</mat-icon>
    </div>
    <app-receipe-details [receipe]="selectedReceipe"></app-receipe-details>
  </div>
</div>
